:root {
    --primary-gray: lightgray;
};

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: Helvetica, arial, sans-serif;
}

.octodex{
    display: flex;
}


ul {
    list-style: none;
    padding: 0;
}

.octocat {
    display: inline-block;
    width: auto;
}

.octocat > a {
    display: inline-block;
    border: solid 2px var(--primary-gray);
    border-radius: 3px;
    
    position: relative; //still going to drop where it normally would, create positioning context for it's children - created positioning context
}

.octocat > a::after {
    content: '';
    height: 0;
    width: 0;
    border-top: solid 10px var(--primary-gray);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;

    position: absolute;
    top: 100%;
    right: 1%;
}

.image-number::before{
    content: "#";
}

.image-footer {
    position: relative;

    border-bottom: solid 1px var(--primary-gray); //instead of typing each time 
    padding-top: 15px;
    padding-bottom: 15px;
}

.image-number {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); //moving it up on the Y-axis half of its height
    left: 0; //slam it up against the left side of the footer
}

.authors > li > a > img{
    display: inline-block;
    width: 30px;
}

.authors {
    display: inline-block;
}

.image-caption {
    text-align: right;
}

.authors img {
    vertical-align: middle;
    border-radius: 5px;
}



// .authors {
//     display:inline-block;
//     vertical-align: middle;
//     list-style-type: none;
// }

// .authors img{
//     width: 30px;
//     margin-left: 0px;
//     margin-right: 0px;
// }

.image-number {
    color:lightgray;
    font-weight: bold;
    display: block;
}


// li {
//     display: inline-block;
// }

// .image-caption {
//     display: inline-block;
//     color:lightgray;
//     font-weight: bold;
//     border-bottom: 1.5px solid lightgray;
//     border-width: 100%;
// }

.image-caption span {
    color: rgb(109, 107, 107);
}


